In [2]:
# Read the first set of data from Arts and Painting category

import pandas as pd

df = pd.read_csv('C:\\Users\\vinu1\\Personality_perception\\data\\master_data_03_16.csv')
df.drop(['Unnamed: 0', 'Index',  
                'Location', 'Subcategory',
       'Unnamed: 5'], axis=1, inplace=True)
df

                Name                                             Tweets
0    NobodyAndNoOne7  IMEGAArts sjwjubilee Synova CodeENSH jeremyusa...
1       AniKpopTrash  RT WoodenPlank Mr Arts amp Crafts\n\nsmashbros...
2       PrangeMartin  RT Ranjandatta Happening today at PM MST Join ...
3            ok4arts  LeadershipArts alumns be sure to register for ...
4          HESSPLASH  RT ocsculturalarts Today on Day  of Arts in Ed...
..               ...                                                ...
162     BKieltArtist  StudioShot  Art Painting ArtsNI visualart Work...
163     BKieltArtist  History Repeating Oil Charcoal and Photo Trans...
164     BKieltArtist  RDH  MAY  Blog May VisualArt ArtsNI Painting  ...
165     BKieltArtist  Working on figures today Art ArtsNI VisualArt ...
166     BKieltArtist  RT PaintingText New interview with the painter...

[167 rows x 2 columns]

In [7]:
# Creating cleaned Corpus , Corpus is a collection of text organized into datasets
# Stop words are commonly used in Text Mining and Natural Language Processing (NLP) to 
# eliminate words that are so commonly used that they carry very little useful information.
# nltk - natural language toolkit
# Punkt Sentence Tokenizer. This tokenizer divides a text into a list of sentences by using an unsupervised algorithm
# word tokenization is splitting the phrases, sentences into smaller units such as words

import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
nltk.download('punkt')
#print(stopwords.words('english'))
 
stop_words = set(stopwords.words('english'))

#stop_words

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\vinu1\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\vinu1\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [73]:
# subset a df with tweets only to get the tokens further

df_tweets = df[['Tweets']]

'RT ocsculturalarts Today on Day  of Arts in Education Month we celebrate the Music Program of Hillsborough Elementary School Check out'

'RT Ranjandatta Happening today at PM MST Join here httpstcozuyvvUWjnX \nMRUArts presents the  Distinguished Speaker D'

In [39]:
# Tokenize the words

import nltk
from nltk.corpus import stopwords
nltk.download('punkt')

stop_words = set(stopwords.words('english'))
# word_tokens = word_tokenize(example_sent)

df_tweets = df["Tweets"]
word_token_list = []
filtered_tweet = []

for i in range(len(df_tweets.index)):
#     print(df_tweets[i])
    word_token = word_tokenize(df_tweets[i])
    #print(word_token)
    word_token_list.append(word_token)
    

len(word_token_list[0])

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\vinu1\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

50

In [75]:
# adding the tokenized list to a dataframe
from nltk.corpus import stopwords
stop = stopwords.words('english')

df['tweets_without_stopwords'] = df['Tweets'].apply(lambda x: ' '.join([word.lower() for word in x.split() if word not in (stop)]))
df.head()
test = []
for word in df['tweets_without_stopwords'][166].split():
    test.append(word)
#test
df_tweets['Tweets'][4]

,Name,Tweets,tweets_without_stopwords
0,NobodyAndNoOne7,IMEGAArts sjwjubilee Synova CodeENSH jeremyusa...,imegaarts sjwjubilee synova codeensh jeremyusa...
1,AniKpopTrash,RT WoodenPlank Mr Arts amp Crafts\n\nsmashbros...,rt woodenplank mr arts amp crafts smashbros sm...
2,PrangeMartin,RT Ranjandatta Happening today at PM MST Join ...,rt ranjandatta happening today pm mst join htt...
3,ok4arts,LeadershipArts alumns be sure to register for ...,leadershiparts alumns sure register arts amp c...
4,HESSPLASH,RT ocsculturalarts Today on Day of Arts in Ed...,rt ocsculturalarts today day arts education mo...
...,...,...,...
162,BKieltArtist,StudioShot Art Painting ArtsNI visualart Work...,studioshot art painting artsni visualart worki...
163,BKieltArtist,History Repeating Oil Charcoal and Photo Trans...,history repeating oil charcoal photo transfer ...
164,BKieltArtist,RDH MAY Blog May VisualArt ArtsNI Painting ...,rdh may blog may visualart artsni painting htt...
165,BKieltArtist,Working on figures today Art ArtsNI VisualArt ...,working figures today art artsni visualart pai...
166,BKieltArtist,RT PaintingText New interview with the painter...,rt paintingtext new interview painter shane be...

In [80]:
df['tweets_without_stopwords'][2]

'rt ranjandatta happening today pm mst join httpstcozuyvvuwjnx mruarts presents distinguished speaker d'

In [82]:
df['tweets_without_stopwords'][3]

'leadershiparts alumns sure register arts amp culture day register httpstcodanpjqqium httpstcopnxlvqtuj'

In [81]:
df['tweets_without_stopwords'][4]

'rt ocsculturalarts today day arts education month celebrate music program hillsborough elementary school check'

In [90]:
df2 = df.iloc[2:5,0:3]
df2

,Name,Tweets,tweets_without_stopwords
2,PrangeMartin,RT Ranjandatta Happening today at PM MST Join ...,rt ranjandatta happening today pm mst join htt...
3,ok4arts,LeadershipArts alumns be sure to register for ...,leadershiparts alumns sure register arts amp c...
4,HESSPLASH,RT ocsculturalarts Today on Day of Arts in Ed...,rt ocsculturalarts today day arts education mo...

In [107]:

obj = TfidfVectorizer(analyzer='word')
# post_final_features = obj.fit_transform(df2['tweets_without_stopwords'])
# print(post_final_features)
X = obj.fit_transform(df2['tweets_without_stopwords'])
obj.get_feature_names_out()
# print(X.shape)
X.toarray()

array([[0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.29938511, 0.        , 0.        ,
        0.29938511, 0.        , 0.        , 0.        , 0.29938511,
        0.29938511, 0.        , 0.        , 0.29938511, 0.29938511,
        0.        , 0.        , 0.29938511, 0.29938511, 0.        ,
        0.29938511, 0.        , 0.22769009, 0.        , 0.29938511,
        0.        , 0.22769009],
       [0.28680742, 0.28680742, 0.21812444, 0.        , 0.        ,
        0.28680742, 0.21812444, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.28680742, 0.28680742, 0.        ,
        0.        , 0.28680742, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.57361484, 0.        , 0.        , 0.        ,
        0.28680742, 0.        ],
       [0.        , 0.        , 0.21673121, 0.2849755 , 0.2849755 ,
        0.        , 0.21673121, 0.        , 0.2849755 , 0.2849755 ,
        0.        , 0.2849755 , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.2849755 , 0.        , 0.        ,
        0.2849755 , 0.2849755 , 0.        , 0.        , 0.2849755 ,
        0.        , 0.        , 0.21673121, 0.2849755 , 0.        ,
        0.        , 0.21673121]])

In [ ]:
+